<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>顶贴</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <style>
        table{width:500px; margin:0 auto 15px; border-collapse:collapse;}
        td, th{height:26px; padding:5px; border:1px #cecece solid; color:#555;}
        th{background:#eaeaea}
        .bgtt{background:#f4f4f4; font-size:14px}
    </style>
</head>
<body>

<form method="post" action="/up">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th align="center" colspan="2">豆瓣顶贴</th>
        </tr>
        <tr>
            <td width="150" align="right" class="bgtt">豆瓣帐号：</td>
            <td><input type="text" name="douban_user" value="" /></td>
        </tr>
        <tr>
            <td align="right" class="bgtt">豆瓣密码：</td>
            <td><input type="text" name="douban_pw" value="" /></td>
        </tr>
        <tr>
            <td width="150" align="right" class="bgtt">联众帐号：</td>
            <td><input type="text" name="lianzhong_user" value="" /></td>
        </tr>
        <tr>
            <td align="right" class="bgtt">联众密码：</td>
            <td><input type="text" name="lianzhong_pw" value="" /></td>
        </tr>
        <tr>
            <td align="right" class="bgtt">帖子地址：</td>
            <td><input type="text" name="url" value="" /></td>
        </tr>
        <tr>
            <td align="right" class="bgtt">顶贴内容：</td>
            <td><input type="text" name="content" value="" /></td>
        </tr>
        <tr>
            <td align="right" class="bgtt">顶贴次数：</td>
            <td><input type="text" name="times" value="" /></td>
        </tr>
        <tr>
            <td align="right" class="bgtt">顶贴周期：</td>
            <td><input type="text" name="period" value="" /></td>
        </tr>
        <tr>
            <td class="bgtt">&nbsp;</td>
            <td><input type="submit" value="提 交"></td>
        </tr>
    </table>
</form>
</body>
</html>